<div>
    <div>
        <% for (const item of items) {%>
            <a href=<%= item.link %>><h3><%= item.title %></h3></a>
        <p>Publication Date: <%= item.pubDate %> | Author: <%= item.creator %> | Category: <b><%= item.categories %></b> </p>
        <p> <%= item.contentSnippet %> </p>
        <%}%>
    </div>
</div>  